@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'body';
  src: url(./assets/fonts/AauxProRegular.ttf);
}

@font-face {
  font-family: 'header';
  src: url(./assets/fonts/AauxProMedium.ttf);
}

@font-face {
  font-family: 'tc';
  src: url(./assets/fonts/NotoSerifTC-Regular.otf);
}

@font-face {
  font-family: 'sc';
  src: url(./assets/fonts/NotoSerifSC-Regular.otf);
}

.floating-arrow { 
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
  z-index: 10;
}

@keyframes float {
  0% { transform: translate(0,  -5px); }
  50%  { transform: translate(0, 5px); }
  100%   { transform: translate(0, -5px); }   
}

.noscroll {
  height: 100%;
  overflow: hidden;
}